
html,body{
    scroll-behavior: smooth !important;
}


body{
    
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: black;
    
}

.First-Page{
    
    scroll-snap-align:start;
    margin: 0;
    margin-bottom: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    video {
        opacity: 0.4;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
       
      }
    
    
    .header{
        font-size: 62px;
        font-family: 'Anton', sans-serif;
        color: white;
        width: 50vw;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width:1200px) {
            font-size: 40px;
            width: 85vw;
            justify-content: space-around;

        }
        @media only screen and (max-width:540px) {
            font-size: 30px;
            width: 85vw;
            justify-content: space-around;

        }
        @media only screen and (max-width:420px) {
            font-size: 32px;
            width: 90vw;
            justify-content: space-around;
        }


        .links{
            
            display: flex;
            gap: 50%;
            #ig{
                
                cursor: pointer;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
            #github{
                cursor: pointer;
                background:linear-gradient(90deg, rgba(99,199,237,1) 2%, rgba(92,72,208,1) 46%, rgba(38,29,162,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            #ig:hover{
                transform: scale(1.1);
            }
            #github:hover{
                transform: scale(1.1);
            }
            @media only screen and (max-width:800px) {
                gap:10%;
            }
        }
    }

    .main{
        flex: 1 0 auto;


        .intro{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: 'Anton', sans-serif;
            font-size: 100px;
            padding: 100px;

            @media only screen and (max-width:800px) {
                font-size: 55px;
                
    
            }
            @media only screen and (max-width:540px) {
                font-size: 4934px;
    
            }
            @media only screen and (max-width:420px) {
                font-size: 38px;
                
            }
    
            #project-button{
                font-size: 60px;
                margin: 50px;
                border: #ffc300 solid 3px;
                padding: 20px 50px;
                @media only screen and (max-width:800px) {
                    font-size: 30px;
                    padding: 15px 35px;
        
                }
                @media only screen and (max-width:540px) {
                    font-size: 40px;
                    padding: 13px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                @media only screen and (max-width:420px) {
                    width: 70vw;
                    font-size: 32px;
                    padding: 10px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            #project-button:hover{
               
                
                
                    @media only screen and (min-width:900px) {
                        
                    transform: scale(1.1);
                    cursor:pointer;
                    font-size: 60px;
                    margin: 50px;
                    
                    padding: 20px 50px;
                    color:#ffc300;
        
                    }
            }
        }



        ul{
            display: flex;
            flex-direction: column;
            gap: 30px;

            li{
                .tittle{
                    .text{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                    }
                }
            }
        }
    }
}


.Second-page{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .all-projects{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap:5%;
        margin: 160px;
        
    }


    .project:hover{
        background-color: #ff4501;
        transform: scale(1.1);
        cursor: pointer;
        .tittle{
            .text{
                color: black;
            }
        }
        
    }
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        background-color: #ffc300;
        border-radius: 40px;
        padding: 10px 90px;
        width: 350px;
        
        @media only screen and (max-width:540px) {
            width: 350px;
            padding: 10px 20px;
        }
        @media only screen and (max-width:420px) {
            
            width: 250px;
            padding: 10px 20px;
        }
        
        
        .tittle{
            font-family: 'Anton', sans-serif;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .text{
                font-size: 40px;
                flex: 1 0;
                @media only screen and (max-width:420px) {
            
                    font-size: 32px;
                }
                
            }
            
        }
    }
    #ending-text{
        font-family: 'Anton', sans-serif;
        color: white;
        font-size: 48px;
    }
}


.snap-container{
    scroll-snap-type: y mandatory;
   // overflow: auto;
   overflow-y:scroll ;
   scroll-behavior: smooth;
}

.snap-element{
    scroll-snap-align: start;
}

.snap-container,
  .snap-element {
    max-width: 100vw ;
    
    height:100vh ;
  }
  

a{
   text-decoration: none;
    color:white;
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}