html, body {
  scroll-behavior: smooth !important;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: black;
}

.First-Page {
  scroll-snap-align: start;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.First-Page video {
  opacity: 0.4;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.First-Page .header {
  font-size: 62px;
  font-family: "Anton", sans-serif;
  color: white;
  width: 50vw;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  .First-Page .header {
    font-size: 40px;
    width: 85vw;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 540px) {
  .First-Page .header {
    font-size: 30px;
    width: 85vw;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 420px) {
  .First-Page .header {
    font-size: 32px;
    width: 90vw;
    justify-content: space-around;
  }
}
.First-Page .header .links {
  display: flex;
  gap: 15%;
}
.First-Page .header .links #ig {
  cursor: pointer;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.First-Page .header .links #github {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(99, 199, 237) 2%, rgb(92, 72, 208) 46%, rgb(38, 29, 162) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.First-Page .header .links #ig:hover {
  transform: scale(1.1);
}
.First-Page .header .links #github:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 800px) {
  .First-Page .header .links {
    gap: 10%;
  }
}
.First-Page .main {
  flex: 1 0 auto;
}
.First-Page .main .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 100px;
  padding: 100px;
}
@media only screen and (max-width: 800px) {
  .First-Page .main .intro {
    font-size: 55px;
    padding: 0;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 540px) {
  .First-Page .main .intro {
    font-size: 49px;
    padding: 0;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 420px) {
  .First-Page .main .intro {
    font-size: 38px;
    padding: 0;
    padding-top: 100px;
  }
}
.First-Page .main .intro #project-button {
  font-size: 60px;
  margin: 50px;
  border: #ffc300 solid 3px;
  padding: 10px 50px;
}
@media only screen and (max-width: 800px) {
  .First-Page .main .intro #project-button {
    font-size: 30px;
    padding: 15px 25px;
  }
}
@media only screen and (max-width: 540px) {
  .First-Page .main .intro #project-button {
    font-size: 40px;
    padding: 13px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .First-Page .main .intro #project-button {
    width: 70vw;
    font-size: 32px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 900px) {
  .First-Page .main .intro #project-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    font-size: 60px;
    margin: 50px;
    padding: 20px 50px;
    color: #ffc300;
  }
}
.First-Page .main ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.First-Page .main ul li .tittle .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Second-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Second-page .all-projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 160px;
  padding: 0;
}
.Second-page .project:hover {
  background-color: #ff4501;
  transform: scale(1.1);
  cursor: pointer;
}
.Second-page .project:hover .tittle .text {
  color: black;
}
.Second-page li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Second-page .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffc300;
  border-radius: 40px;
  padding: 10px 90px;
  width: 350px;
}
.Second-page .project .icons {
  display: flex;
}
.Second-page .project .icons img {
  width: 25px;
}
@media only screen and (max-width: 540px) {
  .Second-page .project {
    width: 350px;
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 420px) {
  .Second-page .project {
    width: 250px;
    padding: 10px 10px;
  }
}
.Second-page .project .tittle {
  font-family: "Anton", sans-serif;
  color: white;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.Second-page .project .tittle .text {
  font-size: 40px;
  flex: 1 0;
}
@media only screen and (max-width: 420px) {
  .Second-page .project .tittle .text {
    font-size: 32px;
  }
}
.Second-page #ending-text {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 48px;
}

.snap-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.snap-element {
  scroll-snap-align: start;
}

.snap-container,
.snap-element {
  max-width: 100vw;
  height: 100vh;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

.Second-page {
  height: 150vh;
}/*# sourceMappingURL=style.css.map */