body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background: black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .header{
        font-size: 45px;
        font-family: 'Anton', sans-serif;
        color: white;
        width: 50vw;
        display: flex;
        justify-content: space-between;


        .links{
            display: flex;
            gap: 50%;
        }
    }

    .main{
        flex: 1 0 auto;


        .intro{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: 'Anton', sans-serif;
            font-size: 90px;
            padding: 100px;
        }



        ul{
            display: flex;
            flex-direction: column;
            gap: 30px;

            li{
                .tittle{
                    .text{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}


.project{
    
    display: flex;
    flex-direction: column;
    
    background-color: #ffc300;
    border-radius: 40px;
    padding: 10px 90px;
   
    
    

   /* 
   .left-side{
       
        .photo{
           border: 5px solid white;
           border-radius: 10px;
           margin: 20px; 
            img{
                height: 400px;
                
            }
        }
    }
*/
.tittle{
    font-family: 'Anton', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    
    .text{
        font-size: 40px;
        flex: 1 0;
    }
    .link{
        flex-shrink: 0;
    }
}

}


.footer{
    flex-shrink: 0;
}